
.o_background_header_new {
    min-width: 900px;
    border-bottom: 1px solid gray('200');
    img {
        max-height: 96px;
        max-width: 200px;
        margin-right: 16px;
    }
    h3 {
        color: $o-default-report-primary-color;
        font-weight: 700;
        font-size: 1.25rem;
        max-width: 300px;
    }
}